<div *ngIf="requiredRender">
    <canvas id="canvas" style="height: 80%; width: 80%"></canvas>

    <div>
        <label for="camera-fov">Camera FOV: </label>
        <input id="camera-fov" type="range" #cameraFov (input)="camera.setFocalLength(+cameraFov.value)"
               min="1" max="70" step="0.5"> <a>{{cameraFov.value}}</a>
    </div>

    <ng-container *ngTemplateOutlet="cubeScaleTemplate; context:{coordinate: 'x'}">
    </ng-container>
    <ng-container *ngTemplateOutlet="cubeScaleTemplate; context:{coordinate: 'y'}">
    </ng-container>
    <ng-container *ngTemplateOutlet="cubeScaleTemplate; context:{coordinate: 'z'}">
    </ng-container>

    <ng-container *ngTemplateOutlet="timeSpeedTemplate; context:{coordinate: 'x'}">
    </ng-container>
    <ng-container *ngTemplateOutlet="timeSpeedTemplate; context:{coordinate: 'y'}">
    </ng-container>
    <ng-container *ngTemplateOutlet="timeSpeedTemplate; context:{coordinate: 'z'}">
    </ng-container>
</div>

<ng-template #cubeScaleTemplate let-coordinate="coordinate">
    <ng-container *ngTemplateOutlet="rangeTemplate; context:{setValFunc: changeCubeScale(),
     coordinate, min:1, max: 5, step: 0.2}">
    </ng-container>
</ng-template>

<ng-template #timeSpeedTemplate let-coordinate="coordinate">
    <ng-container *ngTemplateOutlet="rangeTemplate; context:{setValFunc: changeTimeSpeed(),
     coordinate, min:0.001, max: 1, step: 0.001}">
    </ng-container>
</ng-template>

<ng-template #rangeTemplate
             let-setValFunc="setValFunc"
             let-coordinate="coordinate"
             let-min="min"
             let-max="max"
             let-step="step"
>
    <div>
        <label for="box-attr-input">{{setValFunc.name}} {{coordinate | uppercase}}: </label>
        <input id="box-attr-input" type="range" #templateInput (input)="setValFunc(coordinate,+templateInput.value)"
               min="{{min}}" max="{{max}}" step="{{step}}"> <a>{{templateInput.value}}</a>
    </div>
</ng-template>